@font-face {
    font-family: 'trashhandregular';
    src: url('TrashHand-webfont.eot');
    src: url('TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('TrashHand-webfont.woff') format('woff'),
         url('TrashHand-webfont.ttf') format('truetype'),
         url('TrashHand-webfont.svg#trashhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* OTHER STUFF */
.hide{display:none}
nobreak,.nobreak{white-space: nowrap;}
.make-relative{position:relative;}
.give-shadow{box-shadow: 0 0 18px #555;}


/* FB COMMENTS */
#fb-comments-container .fb-comment-disclaimer {	font-size: 16px;line-height: 27px;float: right;margin-bottom: 20px;}
#fb-comments-container{width:100%;}

/* UNDO STORY PAGE STYLES */
article p,article h1,article h2,article h3,article h4,article h5,article h6 {max-width:none;}
article h1,article h2,article h3,article h4,article h5,article h6 {line-height:1.4em;}

/* ADD-IN NGUX UNTIl IT'S NATIVE */
article p {color: #666;font-size: 18px;line-height: 27px;margin-bottom: 18px;position: relative;white-space: normal;}
ul p, ol p{font-size: 16px}

/* advert wrapper */
.advert-wrapper {margin-top:25px;margin-bottom:25px;}
.right{float:right;margin:25px 0 25px 25px;}

/* limit content to a 768px, horizontally centered grouping */
.constrained{max-width:768px;margin:0 auto;}
.credits{margin-top:25px;}

/* Let's make footable nicer, shall we?*/
.footable  {font-family:'Arial', sans-serif;}
.footable>thead>tr>th{border-radius: 0;background-color: #144A7C;background-image: none;color: #fff;text-shadow: none;}
.footable tbody tr:nth-child(even){background:#E2EAF1;}
.footable>thead>tr>th:last-child, .footable>thead>tr>td:last-child,.footable>thead>tr>th:first-child, .footable>thead>tr>td:first-child{border-radius: 0}


/* perfect for charting legends*/
.box{display: inline-block;background-color: black;height: 13px;width: 13px;margin: 0 5px 0 15px;}

/*basic chart styles*/
.grafx-wrapper p {font-family:'Arial', sans-serif;}
.grafx-wrapper .explainer {font-family: 'arial', sans-serif;font-size: 15px;line-height: 1.4em;color: #666;}
.grafx-wrapper .grfx-label {font-family: 'arial', sans-serif;font-weight:bold;font-size: 17px;line-height: 1.3em;margin-bottom: 3px;}

/* Bootstrap tooltips */
.tooltip-inner{font-family:'Arial', sans-serif;font-weight:bold;}

/* AFFIX STYLES */
.affix{top:41px;z-index:1001;}

/*INTRODUCTION STYLES*/
#intro h1{font-size:60px;line-height: 1.2em}

/* GRAPHIC NOVEL STYLES */

article.graphic-novel{max-width: 1020px;margin: 0 auto;}


.graphic-novel p, .graphic-novel h1,.graphic-novel h2, .graphic-novel h3,.graphic-novel h4, .graphic-novel h5{ 
font-family: 'trashhandregular', sans-serif;color:#000;line-height:1em;margin-top:0;margin-bottom:0}
.graphic-novel h1{font-size: 120px;}
.graphic-novel h2{font-size: 42px;margin-bottom: .5em;}
.graphic-novel h3{font-size: 30px;}
.graphic-novel p{font-size: 24px;line-height: 1.1em;margin:10px 0 20px 0;}


a.footnote{
	display:inline;
	padding:2px 3px;
	border-radius: 3px;
	vertical-align: super; 
	color:#fff;
	background-color: #000;
	font-size: 12px;
	margin-bottom:12px;
	font-family: 'arial black', 'arial', sans-serif;
	font-weight: bolder;
}
.graphic-novel a.footnote:hover{background-color: #333;text-decoration: none;}
.graphic-novel .white a.footnote{color:#62A5EF;background-color: #fff;}
.graphic-novel .white a.footnote:hover{background-color: #E1E8FB;}



.graphic-novel .divider {
	background: url('../img/rule-horiz.png') #62A5EF center -5px no-repeat;
	height: 8px;
	margin: 35px 0;
}

.graphic-novel .divider.white {
	background: url('../img/rule-horiz.png') #62A5EF center -19px no-repeat;
}

.graphic-novel .white a, .graphic-novel .white{color:#fff;}
.bg-white{background-color:#fff;}

.graphic-novel img{width:100%;max-width: 800px;}
.graphic-novel img.slim{max-width:400px;display:block;margin:15px auto;}
.graphic-novel img.make-center{display: block;margin:0 auto;}

.border{border:2px solid black;}


div.border-caption, p.border-caption{
	padding: 15px;
	background-color: #fff;
	border: 2px solid black;
	width: 80%;
	overflow-wrap: break-word;
	display: block;
	margin: 0 auto 0 auto;
}

.border-caption.shift-up{margin-top:-20px; }
.span12 .border-caption.shift-up{margin-top:-40px; }
.border-caption.shift-down{margin-bottom:-20px;}
.border-caption.shift-left{margin-left:15px;}
.border-caption.shift-right{margin-right:15px;}



.gn-river{max-width:768px;margin:0 auto;}
.panel-wrapper{position: relative; margin:25px 0;}


/* HAND-PLACED TEXT ELEMENTS */

#intro p{position:absolute;top:150px;left:550px;max-width: 320px;color:white;}
#life-woman{background-color: #81b8f1;margin-top:25px;}
#life-woman p{position:absolute;top:0px;left:0px;max-width: 320px;padding:15px 0 0 15px;font-size: 36px}
#come-on{font-size:200px;margin: 5px 0 0 0;}
#quotes{padding-top:25px;margin-top:25px;}


/* SPECIAL FOR DAY 3 */
#day3.graphic-novel .divider {background: url('../img/day3/rule-horiz.png') #57A34C center -5px no-repeat;}
#day3.graphic-novel .divider.white {background: url('../img/day3/rule-horiz.png') #57A34C center -19px no-repeat;}
.panel-wrapper{padding:20px;background-color: #fff}



.social-menu{display:block;padding-left:0;margin:20px 0 0}
.social-menu li{display:inline-block;width:40px;height:20px;font-size:20px}
.social-menu li a{color:#2b2b2b}
.social-menu li a:hover,.social-menu li a:active{color:#d0d0d0;text-decoration:none}
.social-menu li a:hover>.nguxicon-facebook,.social-menu li a:active>.nguxicon-facebook{color:#144a7c}
.social-menu li a:hover>.nguxicon-twitter,.social-menu li a:active>.nguxicon-twitter{color:#549ac4}



@media (max-width: 1000px){
	.affix{top:0;}	
}

@media (max-width: 768px) {
	.advert-wrapper.right{float:none; margin: 25px 0;}
	div.border-caption, p.border-caption{margin-bottom:15px;}
	#quotes{padding:0;}
	#quotes h3{text-align: center;padding:25px 15px;}
	#DCFS-take{margin-top:-25px;}
	#life-woman p{position:static;max-width:100%;padding:25px 25px 0 25px;text-align: center;margin:0;}
	#intro p {position: static;max-width: none;color:#000;margin-top:0;}
	.span12 .border-caption.shift-up{margin-top:-8px; }

}

@media (max-width: 400px) {
 
}

@media (max-width: 350px) {
	.advert-wrapper.right,
	.advert-wrapper{
		margin-left: -20px;
	}
}