@font-face {font-family: 'CCMoritat-BoldItalic';src: url('webfonts/2C9497_1_0.eot');src: url('webfonts/2C9497_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C9497_1_0.woff2') format('woff2'),url('webfonts/2C9497_1_0.woff') format('woff'),url('webfonts/2C9497_1_0.ttf') format('truetype');}
@font-face {font-family: 'CCMoritat';src: url('webfonts/2C9497_4_0.eot');src: url('webfonts/2C9497_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C9497_4_0.woff2') format('woff2'),url('webfonts/2C9497_4_0.woff') format('woff'),url('webfonts/2C9497_4_0.ttf') format('truetype');}
@font-face {font-family: 'trb_Icons'; font-style: normal;font-weight: normal;src: url('//graphics.chicagotribune.com/fonts/trbicons.eot');src: url('//graphics.chicagotribune.com/fonts/trbicons.eot?#iefix') format('embedded-opentype'), url('//graphics.chicagotribune.com/fonts/trbicons.woff') format('woff'), url('//graphics.chicagotribune.com/fonts/trbicons.ttf') format('truetype');}

/* OTHER STUFF */
.hide{display:none}
nobreak,.nobreak{white-space: nowrap;}
.make-relative{position:relative;}
.give-shadow{box-shadow: 0 0 18px #555;}


/* FB COMMENTS */
#fb-comments-container .fb-comment-disclaimer {	font-size: 16px;line-height: 27px;float: right;margin-bottom: 20px;}
#fb-comments-container{width:100%;}
#comments{padding:20px;background:#fff;background: rgba(255, 255, 255, .4);margin-top:25px;}



/* UNDO STORY PAGE STYLES */
article p,article h1,article h2,article h3,article h4,article h5,article h6 {max-width:none;}
article h1,article h2,article h3,article h4,article h5,article h6 {line-height:1.4em;}

/* ADD-IN NGUX UNTIl IT'S NATIVE */
article p {color: #666;font-size: 18px;line-height: 27px;margin-bottom: 18px;position: relative;white-space: normal;}
ul p, ol p{font-size: 16px}

/* advert wrapper */
.advert-wrapper {margin-top:25px;margin-bottom:25px;}
.right{float:right;margin:25px 0 25px 25px;}

/* limit content to a 768px, horizontally centered grouping */
.constrained{max-width:768px;margin:0 auto;}
.credits{margin-top:25px;}



/* Let's make footable nicer, shall we?*/
.footable  {font-family:'Arial', sans-serif;}
.footable>thead>tr>th{border-radius: 0;background-color: #144A7C;background-image: none;color: #fff;text-shadow: none;}
.footable tbody tr:nth-child(even){background:#E2EAF1;}
.footable>thead>tr>th:last-child, .footable>thead>tr>td:last-child,.footable>thead>tr>th:first-child, .footable>thead>tr>td:first-child{border-radius: 0}


/* perfect for charting legends*/
.box{display: inline-block;background-color: black;height: 13px;width: 13px;margin: 0 5px 0 15px;}

/*basic chart styles*/
.grafx-wrapper p {font-family:'Arial', sans-serif;}
.grafx-wrapper .explainer {font-family: 'arial', sans-serif;font-size: 15px;line-height: 1.4em;color: #666;}
.grafx-wrapper .grfx-label {font-family: 'arial', sans-serif;font-weight:bold;font-size: 17px;line-height: 1.3em;margin-bottom: 3px;}

/* Bootstrap tooltips */
.tooltip-inner{font-family:'Arial', sans-serif;font-weight:bold;}

/* AFFIX STYLES */
.affix{top:41px;z-index:1001;}

/*INTRODUCTION STYLES*/
/*#intro h1{font-size:60px;line-height: 1.2em}*/
/* GRAPHIC NOVEL STYLES */


article.graphic-novel{max-width: 1020px;margin: 0 auto;}
.graphic-novel p, .graphic-novel h1,.graphic-novel h2, .graphic-novel h3,.graphic-novel h4, .graphic-novel h5{ 
font-family:'Arial', sans-serif;font-family: 'CCMoritat', sans-serif;color:#000;line-height:1em;margin-top:0;margin-bottom:0}
.graphic-novel h1{font-size: 120px;font-family:'CCMoritat-BoldItalic';margin-bottom:15px;}
.graphic-novel h2{font-size: 42px;margin-bottom: .5em;}
.graphic-novel h3{font-size: 30px;}
.graphic-novel p{font-size: 24px;line-height: 1.2em;margin:10px 0 20px 0;}


a.footnote{
	display:inline;
	padding:2px 3px;
	border-radius: 3px;
	vertical-align: super; 
	color:#fff;
	background-color: #000;
	font-size: 12px;
	margin-bottom:12px;
	font-family: 'arial black', 'arial', sans-serif;
	font-weight: bolder;
}
.graphic-novel a.footnote:hover{background-color: #333;text-decoration: none;}
.graphic-novel .graphicwhite a.footnote{color:#62A5EF;background-color: #fff;}
.graphic-novel .graphicwhite a.footnote:hover{background-color: #E1E8FB;}
.graphic-novel .black {color:#000;}

.graphic-novel a:hover{text-decoration: underline}

.graphic-novel .divider {
	background: url('../img/rule-horiz.png') #62A5EF center -5px no-repeat;
	height: 8px;
	margin: 35px 0;
}

.graphic-novel .divider.graphicwhite {
	background: url('../img/rule-horiz.png') #62A5EF center -19px no-repeat;
}

.graphic-novel .graphicwhite a, .graphic-novel .graphicwhite{color:#fff;}
.bg-white{background-color:#fff;}

.graphic-novel img{width:100%;max-width: 800px;}
.graphic-novel .slim{max-width:400px;display:block;margin:15px auto;}
.graphic-novel .make-center{display: block;margin:0 auto;}
.graphic-novel .med-slim{max-width:600px;display:block;margin:15px auto;}



.border{border:2px solid black;}
div.border, img.border{
	border:2px solid black;
	border-width:3px;
	-webkit-border-image: url('../img/border.png') 3 3 3 3 repeat;
	border-image: url('../img/border.png') 3 3 3 3 repeat;

}

div.border-caption {
	width: 80%;
	overflow-wrap: break-word;
	overflow:hidden;
	margin: 0 auto 0 auto;
	padding:0;
	z-index: 100;
	position: relative; 
}

.border-caption p, .border-caption h2{
	background-color: #fff;
	padding: 0 15px 15px 15px;
	margin:0;
}

.graphic-novel .border-caption p:last-child{
	padding-bottom:0;
}

.border-caption h2{padding-bottom: 10px;}

.top-border, .bottom-border{
	background: url('../img/border-caption-border.png') no-repeat;
	display:block;
	height:15px;
}

.top-border{background-position: top center;}
.bottom-border{background-position: bottom center;}


.border-caption.shift-up{margin-top:-20px; }
.span12 .border-caption.shift-up{margin-top:-40px; }
/*#indianoaks .border-caption.shift-down, */.border-caption.shift-down{margin-bottom:-20px;}
.border-caption.shift-left{margin-left:-20px;}
.border-caption.shift-left.shift-up, .border-caption.shift-left.shift-down{margin-left:15px;}
.border-caption.shift-right{margin-right:15px;}
.border-caption.shift-up-max{margin-top:-50px;}
.border-caption.wide{width:95%;}

.vert-border{
	width:3px;
	height:100%;
	position:absolute;
	top:2px;
	right:0;
	background:url('../img/border-caption-border-vert.png') center right no-repeat;
	z-index:500;
}

.vert-border.left{
	left:-1px;
	background:url('../img/border-caption-border-vert.png') center left no-repeat;

}

.gn-river{max-width:700px;margin:0 auto;}
.panel-wrapper{position: relative; margin:25px 0;}
#indianoaks .panel-wrapper{margin:60px 0;}


/* HAND-PLACED TEXT ELEMENTS */

#keyona #intro p{position:absolute;top:150px;left:550px;max-width: 320px;}
#life-woman{background-color: #81b8f1;padding-top:80px;}
#life-woman p{position:absolute;top:0px;left:0px;max-width: 320px;padding:15px 0 0 15px;font-size: 36px}
#come-on{font-size:180px;margin: 5px 0 25px 0;font-weight: bold}
#quotes{padding-top:25px;margin-top:25px;}
#penultimate-quotes .border-caption {margin-bottom:35px;}

#penultimate-quotes h3{padding: 0 20px;background-color:#fff;}

/* SPECIAL FOR INDIAN OAKS */

#indianoaks #intro img {display:block;margin:10px auto 0 auto;}
#indianoaks.graphic-novel .divider {background: url('../img/indianoaks/rule-horiz.png') #EBB145 center -5px no-repeat;}
#indianoaks.graphic-novel .divider.graphicwhite {background: url('../img/day3/rule-horiz.png') #EBB145 center -19px no-repeat;}
#indianoaks .border-caption {box-shadow: 3px 3px 2px rgba(0,0,0,.3);margin-bottom: 15px;}

/* SPECIAL FOR ROCK RIVER */

#rockriver.graphic-novel .divider {background: url('../img/rockriver/rule-horiz.png') #84AC80 center -5px no-repeat;}
#rockriver.graphic-novel .divider.graphicwhite {background: url('../img/rockriver/rule-horiz.png') #84AC80 center -19px no-repeat;}
#rockriver .clothespin{padding:15px 0 15px 15px;}
#rockriver .after-that-i-felt-unsafe{}
#set-up-for-failure{background-color:#ABDEA6;}
#rockriver #set-up-for-failure h2{position: absolute;max-width: 320px;padding: 0 25px;top:30%;left: 0;font-size: 70px;}
#rockriver #set-up-for-failure p, #rockriver #set-up-for-failure h3{padding:25px;}

/* SOCIAL */
[class^="nguxicon-"],
[class*=" nguxicon-"] {display: inline-block;font-family: trb_Icons;font-size: 120%;font-style: normal;font-weight: normal;line-height: 1em;text-transform: none; vertical-align: text-bottom;}
.nguxicon-pintrest:before {content: "b";}
.nguxicon-facebook:before {content: "f";}
.nguxicon-gplus:before {content: "g";}
.nguxicon-linkedin:before {content: "i";}
.nguxicon-twitter:before {content: "t";}
#social-menu{float:none;display:block;max-width: 320px;margin:0 auto;text-align: center;}
.footnotes #social-menu{border-bottom:none;}
#social-menu li a{color: #fff;opacity:.5;}
#social-menu li a:hover{color: #fff;opacity:1;}
#social-menu li {display: inline-block;}

/* PROMOS */
#graphic-promos {max-width: 100%;}
#graphic-promos ul#social-menu{ background-color: #0D1123;width: 100%;margin-top: -6px;padding-bottom: 20px;max-width: 100%}
.promo-panel{width:33%;overflow:hidden;float:left;display:table;overflow:hidden;text-align: center;}
#graphic-promos #indianoaks {width:34%;}
.promo-panel-inner{padding:20px;display:table-cell;vertical-align: middle }
#graphic-promos img{width: 100%;}
#graphic-promos:hover p,#graphic-promos:hover h2, #graphic-promos:hover img{opacity:.3;}
#graphic-promos a:hover {text-decoration: none;}
#graphic-promos:hover a:hover img,#graphic-promos a:hover p,#graphic-promos a:hover h2{opacity:1;}
#graphic-promos #keyona{background-color:#63A5F1;}
#graphic-promos #indianoaks{background-color:#EBB145;}
#graphic-promos #indianoaks img{width: 75%;}
#graphic-promos #rockriver{background-color:#abdea6;}



}




.row-fluid .span4NoGutter { width:33.33333%; margin-left:0 }


@media (max-width: 1028px){
	#graphic-promos .promo-panel p, #graphic-promos .promo-panel h2, #graphic-promos .promo-panel img{opacity:1;}
	.affix{top:0;}	
}

@media (max-width: 768px) {
	#keyona #intro p{ position:static;text-align: center;margin: 0 auto;max-width: 100%}
	.advert-wrapper.right{float:none; margin: 25px 0;}
	div.border-caption, p.border-caption{margin-bottom:15px;}
	#quotes{padding:0;}
	#quotes h3{text-align: center;padding:25px 15px;}
	#DCFS-take{margin-top:-25px;}
	#life-woman{padding-top:0;}
	#life-woman p{position:static;max-width:100%;padding:25px 25px 0 25px;text-align: center;margin:0;}
	#come-on {font-size: 160px;}
	.span12 .border-caption.shift-up{margin-top:-8px; }
	.promo-panel{width:100%;float:none;}
/*	.graphic-novel h1{font-size:60px;}
	.graphic-novel h2{font-size:28px;}*/
	#graphic-promos #indianoaks {width: 100%;}

}



@media (max-width: 600px) {
	.graphic-novel h1{font-size:60px;}
	.graphic-novel h2{font-size:28px;line-height:1.3em;}
}

@media (max-width: 350px) {
	.advert-wrapper.right,
	.advert-wrapper{
		margin-left: -20px;
	}
}