{% include '_promos.html'%}
<div class='divider'></div>
<h2 class='text-center'>About this project</h2>
<p><em>{{ disclaimer }}</em></p>
<p class=''>
	<a class='graphicwhite'href='{{ p2p_link }}' target='_blank'>&raquo; More from the "Harsh Treatment" series</a>
</p>

<h2 class='text-center'>Share</h2>
{% include '_social-row.html' %}
<div class='divider'></div>
<section class='credits'>
	<h2>Credits</h2>
	<h3>{{ rick_label }}</h3>
	<p>
		<span class='graphicwhite'>
			<a href='{{ credits.rick.email }}'>{{ credits.rick.name}}</a>
			<a href='http://twitter.com/{{ credits.rick.twitter }}'>(@{{ credits.rick.twitter }})</a>
		</span>
	</p>
	<h3>{{ ryan_label }}</h3>
	<p>
		<span class='graphicwhite'>
			<a href='{{ credits.ryan.email }}'>{{ credits.ryan.name}}</a>
			<a href='http://twitter.com/{{ credits.ryan.twitter }}'>(@{{ credits.ryan.twitter }})</a>
		</span>
	</p>
	<p class='graphicwhite'>
		<a href='http://twitter.com/chitribgraphics' target='_blank'>@ChiTribGraphics</a>
	</p>
	<h3>{{ reporters_label }}</h3>
	<p>
		<span class='graphicwhite'>
			<a href='{{ credits.david.email }}'>{{ credits.david.name}}</a>
			<a href='http://twitter.com/{{ credits.david.twitter }}'>(@{{ credits.david.twitter }})</a>
		</span>
	</p>
	<p>
		<span class='graphicwhite'>
			<a href='{{ credits.duaa.email }}'>{{ credits.duaa.name}}</a>
			<a href='http://twitter.com/{{ credits.duaa.twitter }}'>(@{{ credits.duaa.twitter }})</a>
		</span> 
	</p>
	<p>
		<span class='graphicwhite'>
			<a href='{{ credits.gary.email }}'>{{ credits.gary.name}}</a>
			<a href='http://twitter.com/{{ credits.gary.twitter }}'>(@{{ credits.gary.twitter }})</a>
		</span>
	</p>
</section>
<div class='divider'></div>

