{% extends "_base.html" %}



{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script type='text/javascript' src='js/app.js'></script>
<script src="http://www.chicagotribune.com/hive/javascripts/registration_signin/registration-global.js?v=15"></script>    
<script>
	 registration.manager.config.initialize({    
			productCode: "chinews",     
			brandingSiteName: "chicagotribune.com",      
			registrationHostname: "https://chinews.signon.trb.com",     
			metricsCookieName: "metrics_id"     
	 });    
</script>    
<!--SSOR End-->     
<!--Meter Start-->    
<script>

jQuery.ajax({     
	 url: '//' +     
	 (location.protocol=='https:' ? 's' : 'www') +     
	 '.tribdss.com/meter/ctcweb.js',      
	 dataType: 'script',     
	 cache: true,     
	 success: function() {     
			trb.meteringService.modalCloseUrl = 'http://graphics.chicagotribune.com/news/watchdog/rtc/graphic-novels/modal-close.html?';     
	 }     
});    
</script>    
<!--Meter End-->

{% endblock %}

{% block css %}
<!--SSOR Start CSS -->      
<link href="http://www.chicagotribune.com/hive/stylesheets/ssor.css" media="all" rel="stylesheet" type="text/css" />     
<link href="http://www.chicagotribune.com/hive/stylesheets/registration_signin/registration.css?v=15" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/styles.css?gjhkdlfghdfkjh">
<style type="text/css">
body{/*background-color:#abdea6*/;background-color:#73C56A;}
</style>
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>TTTT</title>
{% endblock %}


{% block content %}

{% macro graphictext(id, border_caption, classes) %}

{% if border_caption == "true" %}
{############################################################}
{#
{#	HOW TO USE THIS MACRO:
{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
{#
{############################################################}
	<div class='border-caption {{ classes }}'>
		<span class='top-border'></span>
		<p class='' style=''>
			{{ rockriver[id].blurb|process_text() }}
			{% if rockriver[id].footnote %}
			<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ rockriver[id].foot_numeral|int }}' 'footnote{{ rockriver[id].foot_numeral|int }}'>{{ rockriver[id].foot_numeral|int }}</a>
			{% endif %}
		</p>
		<span class='bottom-border'></span>
		<div class='vert-border left'></div>
		<div class='vert-border'></div>
	</div>
	{% else %}
	<p class='{{ classes }}'>{{ rockriver[id].blurb|process_text() }}
		{% if rockriver[id].footnote %}
		<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ rockriver[id].foot_numeral|int }}' 'footnote{{ rockriver[id].foot_numeral|int }}'>{{ rockriver[id].foot_numeral|int }}</a>
		{% endif %}
	</p>
	{% endif %}


	{% endmacro%}

	<style type="text/css">
	

	</style>

	<div class="container-fluid">
		<article id='rockriver' class='graphic-novel'>
			<div class='advert-wrapper'>
				<div class='advert center' data-ad-type='leaderboard'></div>
			</div>
			{% include '_social-row.html' %}
			<h1 class='text-center'>Fight <span class='graphicwhite'>and <br class='visible-phone' /></span>Flight</h1>
			<h2 class='text-center'>{{ rockriver.subhede.blurb}}</h2>
			<section class='gn-river'>
				<div class='divider'></div>
				<div class='panel-wrapper'>
					{{ graphictext('frame1', 'true') }}
					<img class='text-center' src='img/rockriver/frame01-d4.jpg' />	
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span3'>
							{{ graphictext('frame2', 'true', 'hidden-phone shift-right wide') }}
						</div>
						<div class='span9'>
							{{ graphictext('frame2', 'true', 'shift-down visible-phone') }}
							<img class='border text-center' src='img/rockriver/frame02-d4.jpg' />

						</div>
					</div>
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span6'>
							<img class='text-center' src='img/rockriver/frame03-d4.jpg' />
							{{ graphictext('frame3', 'true', 'shift-up') }}
						</div>
						<div class='span6'>
							<img class='text-center border' src='img/rockriver/frame04-d4.jpg' />
							{{ graphictext('frame4', 'true', 'shift-up wide') }}
						</div>				
					</div>
				</div>
				<div class='panel-wrapper slim'>
					<img class='text-center border' src='img/rockriver/frame05-d4.jpg' />
					{{ graphictext('frame5', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='text-center' src='img/rockriver/frame06-d4.jpg' />
					{{ graphictext('frame6b', 'true', 'text-center') }}
				</div>
				<div class='divider'></div>
			</section>
			<h2 class='text-center graphicwhite'>{{ rockriver.sub2.blurb }}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper'>		
					<img class='border text-center' src='img/rockriver/frame07-d4.jpg' />
					{{ graphictext('frame7', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper'>		
					<div class='row-fluid'>
						<div class='span6'>
							<img class='border text-center' src='img/rockriver/frame08-d4.jpg' />
							{{ graphictext('frame8', 'true', 'shift-up')}}
						</div>
						<div class='span6'>
							<img class='border text-center' src='img/rockriver/frame09-d4.jpg' />
							{{ graphictext('frame9', 'true', 'shift-up')}}
						</div>
					</div>
				</div>
				<div class='divider'></div>
			</section>
			<h2 class='text-center graphicwhite'>{{ rockriver.sub3.blurb }}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper'>	
					<img class='border text-center' src='img/rockriver/frame10-d4.jpg' />
					{{ graphictext('frame10', 'true', 'shift-up shift-left')}}
				</div>
				<div class='panel-wrapper'>	
					{{ graphictext('frame11', 'true', 'shift-down shift-right')}}
					<img class='border text-center' src='img/rockriver/frame11-d4.jpg' />
				</div>
				<div class='panel-wrapper'>
					<img class='border text-center' src='img/rockriver/frame12-d4.jpg' />
					{{ graphictext('frame12', 'true', 'shift-up wide')}}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span7'>
							<img class='border text-center' src='img/rockriver/frame13-d4.jpg' />
							{{ graphictext('frame13', 'true', 'shift-up')}}
						</div>
						<div class='span5'>
							<img class='border text-center' src='img/rockriver/frame14-d4.jpg' />
							{{ graphictext('frame14', 'true', 'wide shift-up-max')}}
						</div>
					</div>
				</div>
				<div class='panel-wrapper med-slim'>
					<img class='border text-center' src='img/rockriver/frame15-d4.jpg' />
					{{ graphictext('frame15', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper'>
					<img class='border text-center' src='img/rockriver/frame16-d4.jpg' />
					{{ graphictext('frame16', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper medium-slim'>
					{{ graphictext('frame17a', 'true', 'wide shift-down')}}
					<img class='border text-center' src='img/rockriver/frame17-d4.jpg' />	
					{{ graphictext('frame17b', 'true', 'shift-up text-center')}}
				</div>
						<div class='panel-wrapper'>
							<img class=' text-center' src='img/rockriver/frame18-d4.jpg' />
							{{ graphictext('frame18', 'true', 'shift-up')}}
						</div>

				<div id='set-up-for-failure' class='panel-wrapper border'>
					<h3>{{ rockriver.frame19a.blurb }}</h3>
					<img class='text-center' src='img/rockriver/frame19-d4.jpg' />
					<h2 class='graphicwhite'>{{ rockriver.frame19b.blurb }}</h2>

				</div>


			</section>
			<div class='divider visible-phone'></div>
			
			<section class='footnotes text-center'>
				{% include '_about-and-credits.html'%}
				<h2 class='text-center'>Footnotes</h2>
				<ul class='unstyled'>
					{% for row in rockriverfootnotes[1:] %}
					<li id='footnote{{ row.numeral|int }}'>
						<p class='text-center'><strong class='graphicwhite'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
					</li>	
					{% endfor %}
				</ul>	
			</section>

		</article>

		{% include '_facebook_comments.html' %}
	</div>
	{% endblock content %}
