{% extends "_base.html" %}


{% block title %}{{ rockriver.hede.blurb|striptags }} -- Chicago Tribune{% endblock title %}

{% block bodyattrs %} 
    {{ super() }}
    id='fight-and-flight'
{% endblock bodyattrs %}


{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script type='text/javascript' src='js/app.js'></script>


{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="css/styles.css?gjhkdlfghdfkjh">
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta itemprop="publisher" content="Chicago Tribune">
<meta itemprop="datePublished" content="{{ date }}">
<meta name="keywords" content="Chicago, Illinois, residential treatment centers, foster care, foster home, Rock River Academy, Rockford, Illinois, runaways, teen prostitution">
<meta itemprop="alternativeHeadline" content="{{ rockriver.meta_alt_hede.blurb }}">
<meta name="description" content="{{ rockriver.meta_desc.blurb }}">

{% endblock %}



{% block content %}

{% macro graphictext(id, border_caption, classes) %}

{% if border_caption == "true" %}
{############################################################}
{#
{#	HOW TO USE THIS MACRO:
{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
{#
{############################################################}
	<div class='border-caption {{ classes }}'>
		<span class='top-border'></span>
		<p class='' style=''>
			{{ rockriver[id].blurb|process_text() }}
			{% if rockriver[id].footnote %}
			<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ rockriver[id].foot_numeral|int }}' 'footnote{{ rockriver[id].foot_numeral|int }}'>{{ rockriver[id].foot_numeral|int }}</a>
			{% endif %}
		</p>
		<span class='bottom-border'></span>
		<div class='vert-border left'></div>
		<div class='vert-border'></div>
	</div>
	{% else %}
	<p class='{{ classes }}'>{{ rockriver[id].blurb|process_text() }}
		{% if rockriver[id].footnote %}
		<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ rockriver[id].foot_numeral|int }}' 'footnote{{ rockriver[id].foot_numeral|int }}'>{{ rockriver[id].foot_numeral|int }}</a>
		{% endif %}
	</p>
	{% endif %}


	{% endmacro%}
	{% include '_graphic-novel-ad.html' %}
	<div class="container-fluid">
		<article id='rockriver' class='graphic-novel' itemscope itemtype='http://schema.org/WebPage'>
			{% include '_social-row.html' %}
			<h1 itemprop='headline' class='text-center'>{{ rockriver.hede.blurb|process_text() }}</h1>
			<h2 class='text-center'>{{ rockriver.subhede.blurb|process_text()}}</h2>
			<section class='gn-river'>
				<div class='divider'></div>
			</section>
			<h2 class='text-center graphicwhite'>{{ rockriver.chapter1_hede.blurb|process_text()}}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="Portrait of Krystle Gall"  class='text-center' src='img/rockriver/frame01-d4.jpg' />	
					{{ graphictext('frame1', 'true', 'shift-up shift-right') }}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span3'>
							{{ graphictext('frame2', 'true', 'hidden-phone shift-right wide') }}
						</div>
						<div class='span9'>
							{{ graphictext('frame2', 'true', 'shift-down visible-phone') }}
							<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame02-d4.jpg' />

						</div>
					</div>
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span6'>
							<img itemprop='image' alt="XxXx"  class='text-center' src='img/rockriver/frame03-d4.jpg' />
							{{ graphictext('frame3', 'true', 'shift-up') }}
						</div>
						<div class='span6'>
							<img itemprop='image' alt="XxXx"  class='text-center border' src='img/rockriver/frame04-d4.jpg' />
							{{ graphictext('frame4', 'true', 'shift-up wide') }}
						</div>				
					</div>
				</div>
				<div class='panel-wrapper slim'>
					<img itemprop='image' alt="XxXx"  class='text-center border' src='img/rockriver/frame05-d4.jpg' />
					{{ graphictext('frame5', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='text-center' src='img/rockriver/frame06-d4.jpg' />
					{{ graphictext('frame6b', 'true', 'text-center') }}
				</div>
				<div class='divider'></div>
			</section>
			<h2 class='text-center graphicwhite'>{{ rockriver.sub2.blurb }}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper'>		
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame07-d4.jpg' />
					{{ graphictext('frame7', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper'>		
					<div class='row-fluid'>
						<div class='span6'>
							<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame08-d4.jpg' />
							{{ graphictext('frame8', 'true', 'shift-up')}}
						</div>
						<div class='span6'>
							<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame09-d4.jpg' />
							{{ graphictext('frame9', 'true', 'shift-up')}}
						</div>
					</div>
				</div>
				<div class='divider'></div>
			</section>
			<h2 class='text-center graphicwhite'>{{ rockriver.sub3.blurb }}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper'>	
					<img itemprop='image' alt="An illustration of several girls escaping their caretakers through a cornfield."  class='border text-center' src='img/rockriver/frame10-d4.jpg' />
					{{ graphictext('frame10', 'true', 'shift-up shift-left')}}
				</div>
				<div class='panel-wrapper'>	
					{{ graphictext('frame11', 'true', 'shift-down shift-right')}}
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame11-d4.jpg' />
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame12-d4.jpg' />
					{{ graphictext('frame12', 'true', 'shift-up wide')}}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span7'>
							<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame13-d4.jpg' />
							{{ graphictext('frame13', 'true', 'shift-up')}}
						</div>
						<div class='span5'>
							<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame14-d4.jpg' />
							{{ graphictext('frame14', 'true', 'wide shift-up-max')}}
						</div>
					</div>
				</div>
				<div class='panel-wrapper med-slim'>
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame15-d4.jpg' />
					{{ graphictext('frame15', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame16-d4.jpg' />
					{{ graphictext('frame16', 'true', 'shift-up')}}
				</div>
				<div class='panel-wrapper medium-slim'>
					{{ graphictext('frame17a', 'true', 'wide shift-down')}}
					<img itemprop='image' alt="XxXx"  class='border text-center' src='img/rockriver/frame17-d4.jpg' />	
					{{ graphictext('frame17b', 'true', 'shift-up text-center')}}
				</div>
						<div class='panel-wrapper'>
							<img itemprop='image' alt="XxXx"  class=' text-center' src='img/rockriver/frame18-d4.jpg' />
							{{ graphictext('frame18', 'true', 'shift-up')}}
						</div>

				<div id='set-up-for-failure' class='panel-wrapper border'>
					<h3>{{ rockriver.frame19a.blurb }}</h3>
					<img itemprop='image' alt="XxXx"  class='text-center' src='img/rockriver/frame19-d4.jpg' />
					<h2 class='graphicwhite'>{{ rockriver.frame19b.blurb }}</h2>

				</div>


			</section>
			<div class='divider visible-phone'></div>
			
			<section class='footnotes text-center'>
				{% include '_promos.html'%}
				{% include '_about-and-credits.html'%}
				<h2 class='text-center'>Footnotes</h2>
				<ul class='unstyled'>
					{% for row in rockriverfootnotes[1:] %}
					<li id='footnote{{ row.numeral|int }}'>
						<p class='text-center'><strong class='graphicwhite'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
					</li>	
					{% endfor %}
				</ul>	
			</section>

		</article>

		{% include '_facebook_comments.html' %}
	</div>
	{% endblock content %}
