{% extends "_base.html" %}

{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>

<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">

<style type="text/css">

  body {padding-right: 0;padding-left: 0;}
</style>

{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta itemprop="name" content="">
<meta itemprop="alternativeHeadline" content="">
<meta itemprop="image" content="">
<meta itemprop="description" content="">
<meta itemprop="publisher" content="Chicago Tribune">
<meta itemprop="datePublished" content="">
<meta name="keywords" content="Chicago, Illinois, residential treatment centers, foster care, foster home">
<meta name="description" content="">
<meta itemprop="thumbnailUrl" content ="XX">
{% endblock %}


{% block content %}


<article id='graphic-promos' class='graphic-novel'>
  {% include '_social-row.html' %}
  <!-- <a class="brand" href="http://www.chicagotribune.com"><img class="ct-logo" src="http://media.apps.chicagotribune.com/images/logo_inverse.png" title="Chicago Tribune" alt="Chicago Tribune"></a> -->
            <a href='talking-truth.html' id='keyona' class='promo-panel'>
              <div class='promo-panel-inner'>
               <img src='img/keyona/day2-frame1.jpg' />
               <h2>Talking truth</h2>
               <p>{{ keyona.subhede.blurb }}</p>
               <p class='return'>&raquo; READ THIS STORY</p>
              </div>
           </a>
           <a href='unsafe-haven.html' id='indianoaks' class='promo-panel'>
            <div class='promo-panel-inner'>
             <img src='img/indianoaks/frame00-d3.jpg' />
             <h2>Unsafe Haven</h2>
             <p>{{ indianoaks.subhede.blurb }}</p>
             <p class='return'>&raquo; READ THIS STORY</p>

           </div>
         </a>
         <a href='fight-and-flight.html' id='rockriver' class='promo-panel'>
          <div class='promo-panel-inner'>
            <img src='img/rockriver/frame10-d4.jpg' />
            <h2>Fight & Flight</h2>
            <p>{{ rockriver.subhede.blurb }}</p>
             <p class='return'>&raquo; READ THIS STORY</p>

          </div>
        </a>
        <div class='clearfix'></div>
      </div> 
</article> 

{% endblock content %}
