{% extends "_base.html" %}

{% block scripts %}

<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="css/styles.css">
<style type="text/css">
body{background-color:#70C065;}
div.border-caption, p.border-caption{background-color: #AADDA4}

</style>

{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}


{% block content %}

{% macro graphitext(id) %}
{% if indianoaks[id].header %}
<h2>{{ indianoaks[id].header|process_text() }}</h2>
{% endif %}
<p>{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote'class='footnote' href='#' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a></p>
{% endif %}
{% endmacro%}

{% macro graphictext(id, border_caption, classes) %}

{% if border_caption == "true" %}
{############################################################}
{#
{#	HOW TO USE THIS MACRO:
{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
{#
{############################################################}
<div class='border-caption {{ classes }}' style=''>
	<span class='top-border'></span>
	{% if indianoaks[id].header %}
	<h2>{{ indianoaks[id].header|process_text() }}</h2>
	{% endif %}
	<p class='' style=''>
		{{ indianoaks[id].blurb|process_text() }}
		{% if indianoaks[id].footnote %}
		<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
		{% endif %}
	</p>
	<span class='bottom-border'></span>
	<div class='vert-border left'></div>
	<div class='vert-border'></div>
</div>
{% else %}
{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
{% endif %}
{% endif %}


{% endmacro%}
	<div class="container-fluid">
		<article id='indianoaks' class='graphic-novel'>
			<div class='advert-wrapper'>
				<div class='advert center' data-ad-type='leaderboard'></div>
			</div>
					{% include '_social-row.html' %}
			<div class='row-fluid'>
				<div class='span8'>
					<img src='img/indianoaks/frame0b-d3.jpg' />
				</div>
				<div class='span4'>

					<h1 class='text-center'>headline here<span class='white'><br class='visible-phone' />here</span></h1>
					<h2 class='text-center'>{{ indianoaks.subhede.blurb}}</h2>

				</div>
			</div>

			<div class='advert-wrapper visible-phone'>
				<div class='advert' data-ad-type='cube'></div>
			</div>

			<section class='gn-river'>
				<div class='panel-wrapper'>
					{{ graphictext('frame1a', 'true', 'shift-down shift-left') }}
					<img class='border' src='img/indianoaks/frame1-d3.jpg' />
					{{ graphictext('frame1b', 'true', 'shift-up shift-right') }}
				</div>

				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame2-d3.jpg' />
					{{ graphictext('frame2', 'true', 'shift-up') }}
				</div>		
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame3-d3.jpg' />
					{{ graphictext('frame3', 'true', 'shift-up') }}

				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame4-d3.jpg' />
					{{ graphictext('frame4', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame5-d3.jpg' />
					{{ graphictext('frame5b', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame5B-d3.jpg' />
					{{ graphictext('frame5', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame6-d3.jpg' />
					{{ graphictext('frame6', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame7-d3.jpg' />
					{{ graphictext('frame7', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span8'>
					<img class='border' src='img/indianoaks/frame8-d3.jpg' />
						</div>
						<div class='span4'>
						{{ graphictext('frame8', 'true', 'shift-left shift-down') }}
						</div>
					</div>
					
					
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame9-d3.jpg' />
					{{ graphictext('frame9', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame10-d3.jpg' />
					{{ graphictext('frame10', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame11-d3.jpg' />
					{{ graphictext('frame11', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame12-d3.jpg' />
				</div>
			</section>
			<div class='divider visible-phone'></div>


			<section class='footnotes text-center'>
				{% include '_about-and-credits.html'%}
				<h2 class='text-center'>Footnotes</h2>

				<ul class='unstyled'>

				{% for row in indianoaksfootnotes[1:] %}
				<li id='footnote{{ row.numeral|int }}'>
					<p class='text-center'><strong class='white'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
				</li>	
				{% endfor %}
			</ul>	
		</section>

	</article>

	{# include '_facebook_comments.html' #}
</div>
{% endblock content %}
