{% extends "_base.html" %}

{% block scripts %}

<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="css/styles.css">
<style type="text/css">
body{
	background-color:#62A5EF;
}
</style>
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}


{% block content %}

{% macro graphictext(id) %}
{{ keyona[id].blurb|process_text() }}
{% if keyona[id].footnote %}
<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ keyona[id].foot_numeral|int }}' 'footnote{{ keyona[id].foot_numeral|int }}'>{{ keyona[id].foot_numeral|int }}</a>
{% endif %}
{% endmacro%}

<div class="container-fluid">
	<article id='keyona' class='graphic-novel'>
		<div class='advert-wrapper'>
			<div class='advert center' data-ad-type='leaderboard'></div>
		</div>
		{% include '_social-row.html' %}
		<h1 class='text-center'>Keyona<span class='white'><br class='visible-phone' />Laws</span></h1>
		<h2 class='text-center'>{{ keyona.subhede.blurb}}</h2>
		<div class='advert-wrapper visible-phone'>
			<div class='advert' data-ad-type='cube'></div>
		</div>
		<div id='intro' class='panel-wrapper'>
			<img class='text-center' src='img/keyona/day2-frame1.jpg' />
			<p class='white hidden-phone'>{{ graphictext('frame1') }}</p>			
			<p class='border-caption shift-up visible-phone'>{{ graphictext('frame1') }}</p>
		</div>
		<section class='gn-river'>
			<div class='hidden-phone divider'></div>
			<div class='row-fluid'>
				<div class='span5'>
					<img class='border' src='img/keyona/day2-frame2.jpg' />
					<p class='border-caption shift-up'>{{ graphictext('frame2') }}</p>
				</div>
				<div class='span7'>
					<img class='border' src='img/keyona/day2-frame3.jpg' />
					<p class='border-caption shift-up'>{{ graphictext('frame3') }}</p>
				</div>
			</div>
			<div id='life-woman' class='panel-wrapper border'>
				<p>{{ graphictext('frame4') }}</p>
				<img class='' src='img/keyona/day2-frame4.jpg' />

			</div>

			<div id='placed-in-lawrence' class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span6'>
						<img class='border' src='img/keyona/day2-frame5.jpg' />
					</div>
					<div class='span6'>
						<p id ='DCFS-take' class='border-caption'>{{ graphictext('frame5') }}</p>
					</div>
				</div>
			</div>
			<div class='divider'></div>
		</section>
		<h2 class='white text-center'>{{ graphictext('frame11a') }}</h2>
		<section class='gn-river'>
			<div class='row-fluid'>
				<div class='span8'>
					<img class='border' src='img/keyona/day2-frame11.jpg' />
					<p class='border-caption shift-up'>{{ graphictext('frame11b') }}</p>
				</div>
				<div class='span4'>
					<img class='border' src='img/keyona/day2-frame12.jpg' />
					<p class='border-caption shift-up'>{{ graphictext('frame12') }}</p>
				</div>
			</div>
			<div class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span12'>
						<img class='border ' src='img/keyona/day2-frame13.jpg' />
						<p class='border-caption shift-up'>{{ graphictext('frame13') }}</p>

					</div>
				</div>
			</div>

			<div class='divider'></div>
		</section>
		<h2 class='text-center white'>{{ graphictext('frame6a') }}</h2>
		<section class='gn-river'>
			<div class='row-fluid'>
				<div class='span3 hidden-phone'>{# EMPTY SPACER #}</div>
				<div class='span6'>
					<img id='elevator1' class='border text-center' src='img/keyona/day2-frame6.jpg' />
				</div>
			</div>
			<h2 id='come-on' class='white text-center'>{{ keyona.comeon.blurb }}</h2>
			<h2 class='text-center white'>{{ graphictext('frame6b') }}</h2>
			<div class='row-fluid'>
				<div class='span12'>
					<img class='border text-center' src='img/keyona/day2-frame7.jpg' />
					<p>{{ graphictext('frame7') }}</p>
				</div>
			</div>
			<div class='row-fluid'>
				<div class='span1 hidden-phone'>{# EMPTY SPACER #}</div>
				<div class='span10'>
					<img class='text-center' src='img/keyona/day2-frame8.jpg' />
				</div>
			</div>
			<div id='first-attempt' class='panel-wrapper'>
				<p class='border-caption shift-down'>{{ graphictext('frame9') }}</p>
				<img class='border' src='img/keyona/day2-frame9.jpg' />
			</div>

			<div class='panel-wrapper bg-white' id='quotes'>
				<div class='row-fluid'>
					<div class='span1 hidden-phone'>{# EMPTY SPACER #}</div>
					<div class='span4'>
						<h3>{{ graphictext('frame10a') }}</h3>
					</div>
					<div class='span2 hidden-phone'>{# EMPTY SPACER #}</div>
					<div class='span4'>
						<h3>{{ graphictext('frame10b') }}</h3>
					</div>
				</div>					
				<img class='' src='img/keyona/day2-frame10.jpg' />
			</div>
			<div class='divider'></div>
		</section>
		<h2 class='white text-center'>{{ graphictext('frame11c') }}</h2>
		<section class='gn-river'>
			<div class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span6'>
						<img class='border ' src='img/keyona/day2-frame14a.jpg' />
					</div>
					<div class='span6'>
						<img class='border' src='img/keyona/day2-frame14b.jpg' />
					</div>
				</div>
				<p class='border-caption shift-up'>{{ graphictext('frame14a') }}</p>
			</div>
			<div class='divider'></div>
			<div id='prostituion-start' class='panel-wrapper'>
				<p class='border-caption shift-down shift-left'>{{ graphictext('frame14b') }}</p>
				<img class='border' src='img/keyona/day2-frame15.jpg' />
				<p class='border-caption shift-up shift-right'>{{ graphictext('frame15') }}</p>
			</div>
			<div class='row-fluid'>
				<div class='span4'>
					<img class='border' src='img/keyona/day2-frame16.jpg' />
					<p class=''>{{ graphictext('frame16') }}</p>
				</div>
				<div class='span8'>
					<img class='border' src='img/keyona/day2-frame17.jpg' />
					<p class='border-caption shift-up'>{{ graphictext('frame17') }}</p>
				</div>
			</div>
			<div class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span12'>
						<img class='border' src='img/keyona/day2-frame18.jpg' />
						<p class='border-caption shift-up shift-left'>{{ graphictext('frame18') }}</p>
					</div>
				</div>
			</div>
			<div class='panel-wrapper'>

				<div class='row-fluid'>
					<div class='span4'>
						<img class='border' src='img/keyona/day2-frame19.jpg' />
					</div>
					<div class='span8'>
						<div class='border-caption'>
							<h3 class=' text-center'>{{ graphictext('frame19a') }}</h3>
							<h3 class=' text-center'>{{ graphictext('frame19b') }}</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class='divider visible-phone'></div>
		<h2 class='text-center'><span class='white'>{{ graphictext('frame20') }}</h2>
		<img class='make-center' src='img/keyona/day2-frame20.jpg' />

		<section class='footnotes text-center'>
			{% include '_about-and-credits.html'%}
			<h2 class='text-center'>Footnotes</h2>
			<ul class='unstyled'>
				{% for row in keyonafootnotes[1:] %}
				<li id='footnote{{ row.numeral|int }}'>
					<p class='text-center'><strong class='white'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
				</li>	
				{% endfor %}
			</ul>	
		</section>

	</article>

	{% include '_facebook_comments.html' %}
</div>
{% endblock content %}
