{% extends "_base.html" %}

{% block bodyattrs %} 
    	{{ super() }}
	id='talking-truth'
{% endblock bodyattrs %}

{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="css/styles.css?gjhkdlfghdfkjh">
<style type="text/css">
body{
	background-color:#62A5EF;
}
</style>
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block title %}{{ keyona.hede.blurb|striptags }} -- Chicago Tribune{% endblock title %}


{% block content %}

{% macro graphictext(id, border_caption, classes, ident) %}

{% if border_caption == "true" %}
{############################################################}
{#
	{#	HOW TO USE THIS MACRO:
	{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
	{#
	{############################################################}
	<div class='border-caption {{ classes }}' id='{{ ident }}'>
		<span class='top-border'></span>
		<p class='' style=''>
			{{ keyona[id].blurb|process_text() }}
			{% if keyona[id].footnote %}
			<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ keyona[id].foot_numeral|int }}' 'footnote{{ keyona[id].foot_numeral|int }}'>{{ keyona[id].foot_numeral|int }}</a>
			{% endif %}
		</p>
		<span class='bottom-border'></span>
		<div class='vert-border left'></div>
		<div class='vert-border'></div>
	</div>
	{% else %}
	{{ keyona[id].blurb|process_text() }}
	{% if keyona[id].footnote %}
	<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ keyona[id].foot_numeral|int }}' 'footnote{{ keyona[id].foot_numeral|int }}'>{{ keyona[id].foot_numeral|int }}</a>
	{% endif %}
	{% endif %}


	{% endmacro%}
	{% include '_graphic-novel-ad.html' %}
	<div class="container-fluid">
		<article id='keyona' class='graphic-novel'>
			{% include '_social-row.html' %}
			<h1 itemprop='headline' class='text-center'>{{ keyona.hede.blurb|process_text }}</h1>
			<h2 class='text-center'>{{ keyona.subhede.blurb}}</h2>
			<div id='intro' class='panel-wrapper'>
				<img class='text-center' src='img/keyona/day2-frame1.jpg' />
				<p class='graphicwhite hidden-phone'>{{ graphictext('frame1') }}</p>			
				{{ graphictext('frame1', 'true', 'visible-phone shift-up ') }}
			</div>
			<section class='gn-river'>
				<div class='hidden-phone divider'></div>
				<div class='row-fluid'>
					<div class='span5'>
						<img class='border' src='img/keyona/day2-frame2.jpg' />
						<div class=''>{{ graphictext('frame2', 'true', 'shift-up') }}</div>
					</div>
					<div class='span7'>
						<img class='border' src='img/keyona/day2-frame3.jpg' />
						{{ graphictext('frame3', 'true', 'shift-up') }}
					</div>
				</div>
				<div id='life-woman' class='panel-wrapper border'>
					<p>{{ graphictext('frame4') }}</p>
					<img class='' src='img/keyona/day2-frame4.jpg' />

				</div>

				<div id='placed-in-lawrence' class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span6'>
							<img class='border' src='img/keyona/day2-frame5.jpg' />
						</div>
						<div class='span6'>
							{{ graphictext('frame5', 'true', 'hidden-phone') }}
							{{ graphictext('frame5', 'true', 'shift-up visible-phone') }}
						</div>
					</div>
				</div>
				<div class='divider'></div>
			</section>
			<h2 class='graphicwhite text-center'>{{ graphictext('frame11a') }}</h2>
			<section class='gn-river'>
				<div class='panel-wrapper med-slim'>
					{{ graphictext('frame11b', 'true', 'shift-down shift-left') }}
					<img class='border' src='img/keyona/day2-frame11.jpg' />
					<div class='panel-wrapper shift-up-max'>
						<div class='row-fluid'>
							<div class='span5'>
								{{ graphictext('frame12', 'true', '', 'bb-gun-text') }}
							</div>
							<div class='span6'>
								<img id='bb-gun' class='border hidden-phone' src='img/keyona/day2-frame12.jpg' />
							</div>
						</div>
					</div>


				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span12'>
							<img class='border ' src='img/keyona/day2-frame13.jpg' />
							{{ graphictext('frame13', 'true', 'shift-up') }}
						</div>
					</div>
				</div>
			<div class='divider'></div>
		</section>
		<h2 class='text-center graphicwhite'>{{ graphictext('frame6a') }}</h2>
		<section class='gn-river'>

			<div class='panel-wrapper med-slim'>
				{{ graphictext('frame6c', 'true', 'shift-down shift-right') }}
				<img id='elevator1' class='border text-center' src='img/keyona/day2-frame6.jpg' />
				{{ graphictext('frame6b', 'true', 'shift-right shift-up') }}
			</div>
			<h2 id='come-on' class='graphicwhite text-center'>{{ keyona.comeon.blurb }}</h2>

			<div class='panel-wrapper'>
				<img class='border text-center' src='img/keyona/day2-frame7.jpg' />
				<p>{{ graphictext('frame7') }}</p>
			</div>
			<div class='row-fluid'>
				<div class='span1 hidden-phone'>{# EMPTY SPACER #}</div>
				<div class='span10'>
					<img class='text-center' src='img/keyona/day2-frame8.jpg' />
				</div>
			</div>
			<div id='first-attempt' class='panel-wrapper'>
				{{ graphictext('frame9', 'true', 'shift-down') }}
				<img class='border' src='img/keyona/day2-frame9.jpg' />
			</div>

			<div class='panel-wrapper bg-white' id='quotes'>
				<div class='row-fluid'>
					<div class='span1 hidden-phone'>{# EMPTY SPACER #}</div>
					<div class='span4'>
						<h3>{{ graphictext('frame10a') }}</h3>
					</div>
					<div class='span2 hidden-phone'>{# EMPTY SPACER #}</div>
					<div class='span4'>
						<h3>{{ graphictext('frame10b') }}</h3>
					</div>
				</div>					
				<img class='' src='img/keyona/day2-frame10.jpg' />
			</div>
			<div class='divider'></div>
		</section>
		<h2 class='graphicwhite text-center'>{{ graphictext('frame11c') }}</h2>
		<section class='gn-river'>
			<div class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span6'>
						<img class='border ' src='img/keyona/day2-frame14a.jpg' />
					</div>
					<div class='span6'>
						<img class='border' src='img/keyona/day2-frame14b.jpg' />
					</div>
				</div>
				{{ graphictext('frame14a', 'true', 'shift-up') }}
			</div>
			<div class='divider'></div>
			<div id='prostitution-start' class='panel-wrapper'>
				{{ graphictext('frame14b', 'true', 'shift-down shift-left') }}
				<img class='border' src='img/keyona/day2-frame15.jpg' />
				{{ graphictext('frame15', 'true', 'shift-up shift-right') }}
			</div>
			<div class='row-fluid'>
				<div class='span4'>
					<img class='border' src='img/keyona/day2-frame16.jpg' />
					<p class=''>{{ graphictext('frame16') }}</p>
				</div>
				<div class='span8'>
					<img class='border' src='img/keyona/day2-frame17.jpg' />
					{{ graphictext('frame17', 'true', 'shift-up') }}
				</div>
			</div>
			<div class='panel-wrapper'>
				<div class='row-fluid'>
					<div class='span12'>
						<img class='border' src='img/keyona/day2-frame18.jpg' />
						{{ graphictext('frame18', 'true', 'shift-up shift-left') }}
					</div>
				</div>
			</div>
			<div class='panel-wrapper'>

				<div class='row-fluid'>
					<div class='span4'>
						<img class='border' src='img/keyona/day2-frame19.jpg' />
					</div>
					<div class='span8'>
						<div id='penultimate-quotes'>
							<div class='border-caption' style=''>
								<span class='top-border'></span>
								<p class='' style=''>
									<h3 class=' text-center'>{{ graphictext('frame19a') }}</h3>
								</p>
								<span class='bottom-border'></span>
								<div class='vert-border left'></div>
								<div class='vert-border'></div>

							</div>
							<div class='border-caption' style=''>
								<span class='top-border'></span>
								<p class='' style=''>
									<h3 class=' text-center'>{{ graphictext('frame19b') }}</h3>
								</p>
								<span class='bottom-border'></span>
								<div class='vert-border left'></div>
								<div class='vert-border'></div>

							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class='divider visible-phone'></div>
		<h2 class='text-center'><span class='graphicwhite'>{{ graphictext('frame20') }}</h2>
		<img class='make-center' src='img/keyona/day2-frame20.jpg' />

		<section class='footnotes text-center'>
			{% include '_promos.html'%}
			{% include '_about-and-credits.html' %}
			<h2 class='text-center'>Footnotes</h2>
			<ul class='unstyled'>
				{% for row in keyonafootnotes[1:] %}
				<li id='footnote{{ row.numeral|int }}'>
					<p class='text-center'><strong class='graphicwhite'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
				</li>	
				{% endfor %}
			</ul>	
		</section>

	</article>

	{% include '_facebook_comments.html' %}
</div>
{% endblock content %}
