{% extends "_base.html" %}

{% block title %}{{ indianoaks.hede.blurb|striptags }} -- Chicago Tribune{% endblock title %}

{% block bodyattrs %} 
    {{ super() }}
    id='unsafe-haven'
{% endblock bodyattrs %}

{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta itemprop="publisher" content="Chicago Tribune">
<meta itemprop="datePublished" content="{{ date }}">
<meta name="keywords" content="Chicago, Illinois, residential treatment centers, foster care, foster home, runaways, teen prostitution">
<meta itemprop="alternativeHeadline" content="{{ indianoaks.meta_alt_hede.blurb }}">
<meta name="description" content="{{ indianoaks.meta_desc.blurb }}">
{% endblock %}


{% block content %}

{% macro graphitext(id) %}
{% if indianoaks[id].header %}
<h2>{{ indianoaks[id].header|process_text() }}</h2>
{% endif %}
<p>{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote'class='footnote' href='#' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a></p>
{% endif %}
{% endmacro%}

{% macro graphictext(id, border_caption, classes) %}

{% if border_caption == "true" %}
{############################################################}
{#
{#	HOW TO USE THIS MACRO:
{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
{#
{############################################################}
<div class='border-caption {{ classes }}' style=''>
	<span class='top-border'></span>
	{% if indianoaks[id].header %}
	<h2>{{ indianoaks[id].header|process_text() }}</h2>
	{% endif %}
	<p class='' style=''>
		{{ indianoaks[id].blurb|process_text() }}
		{% if indianoaks[id].footnote %}
		<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
		{% endif %}
	</p>
	<span class='bottom-border'></span>
	<div class='vert-border left'></div>
	<div class='vert-border'></div>
</div>
{% else %}
{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
{% endif %}
{% endif %}


{% endmacro%}
<div class='graphic-novel-advert-wrapper'>
		<div class='advert center' data-ad-type='leaderboard'></div>
		<p><small>ADVERTISEMENT</small></p>
	</div>
	<div class="container-fluid">
		<article id='indianoaks' class='graphic-novel'>
			{% include '_social-row.html' %}
			{% include '_disclaimer-link.html' %}
			<section id='intro'>
				<img itemprop='image' alt="XxXx"  itemprop='image'src='img/indianoaks/frame00-d3.jpg' />
				<h1 class='text-center'>{{ indianoaks.hede.blurb|process_text }}</h1>
				<h2 class='text-center'>{{ indianoaks.subhede.blurb|process_text }}</h2>
			</section>
			<section class='gn-river'>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="Illustration of the exterior of an abandoned building on the Indian Oaks Academy campus." class='border' src='img/indianoaks/frame01-d3.jpg' />
					{{ graphictext('frame1a', 'true', 'shift-up wide') }}
					
					<img itemprop='image' alt = "Map of Manteno, Illinois, and the location of Indian Oaks Academy" class='' src='img/indianoaks/frame12-d3.jpg' />
					{{ graphictext('frame1b', 'true', 'shift-right') }}
				</div>

				<div class='panel-wrapper'>
					<img itemprop='image' alt="Illustration of a close-up of a young man pocketing some stolen merchandise from a gas station."  class='border' src='img/indianoaks/frame02-d3.jpg' />
					{{ graphictext('frame2', 'true', 'shift-up') }}
				</div>		
				<div class='panel-wrapper'>
					<img itemprop='image' alt="Illustration of a young couple, seen through a broken window, amorously embracing. There is a pigeon in the foreground."  class='border' src='img/indianoaks/frame03-d3.jpg' />
					{{ graphictext('frame3', 'true', 'shift-up-max') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='' src='img/indianoaks/frame11-d3.jpg' />
					{{ graphictext('frame11', 'true', 'shift-up-max wide') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='' src='img/indianoaks/frame04-d3.jpg' />
					{{ graphictext('frame4', 'true', 'shift-up-max') }}
				</div>

				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border' src='img/indianoaks/frame05A-d3.jpg' />
					{{ graphictext('frame5', 'true', 'shift-up shift-left') }}
				</div>
								<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border' src='img/indianoaks/frame05B-d3.jpg' />
					{{ graphictext('frame5b', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border' src='img/indianoaks/frame06-d3.jpg' />
					{{ graphictext('frame6', 'true', 'shift-up-max shift-right') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border' src='img/indianoaks/frame07-d3.jpg' />
					{{ graphictext('frame7', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='border' src='img/indianoaks/frame09-d3.jpg' />
					{{ graphictext('frame9', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span7'>
					<img itemprop='image' alt="XxXx"  class='' src='img/indianoaks/frame08-d3.jpg' />
						</div>
						<div class='span5'>
						{{ graphictext('frame8', 'true', 'shift-left shift-down wide') }}
						</div>
					</div>
				</div>
				<div class='panel-wrapper'>
					<img itemprop='image' alt="XxXx"  class='' src='img/indianoaks/frame10-d3.jpg' />
					{{ graphictext('frame10', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<h2 class='graphicwhite text-center'>"They didn’t want to come back,” Borden said.</h2>
					<img itemprop='image' alt="XxXx"  class='' src='img/indianoaks/frame13-d3.jpg' />
				</div>

			</section>

			<section class='footnotes text-center'>
				{% include '_promos.html'%}
				{% include '_about-and-credits.html'%}
				<h2 class='text-center'>Footnotes</h2>
				<ul class='unstyled'>
				{% for row in indianoaksfootnotes[0:] %}
				<li id='footnote{{ row.numeral|int }}'>
					<p class='text-center'><strong class='graphicwhite'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
				</li>	
				{% endfor %}
			</ul>	
		</section>

	</article>

	{% include '_facebook_comments.html' %}
</div>
{% endblock content %}
