{% extends "_base.html" %}

{# block paywall %}
    {% if PREVIEW_SERVER %}
        {% include "_paywall_stage.html" %}
    {% else %}
        {% include "_paywall_prod.html" %}
    {% endif %}
{% endblock paywall #}

{% block scripts %}
<script src="js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script type='text/javascript' src='js/app.js'></script>
{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="css/styles.css">
<style type="text/css">
	body{background-color:#EBB145;}
</style>

{% endblock %}

{% block meta %}
<meta property="fb:app_id" content="306836229411287" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}


{% block content %}

{% macro graphitext(id) %}
{% if indianoaks[id].header %}
<h2>{{ indianoaks[id].header|process_text() }}</h2>
{% endif %}
<p>{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote'class='footnote' href='#' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a></p>
{% endif %}
{% endmacro%}

{% macro graphictext(id, border_caption, classes) %}

{% if border_caption == "true" %}
{############################################################}
{#
{#	HOW TO USE THIS MACRO:
{#	{{ graphictext('reference ID', 'true/false' (apply border caption?) , '(ANY CLASSES YOU WANT)') }}
{#
{############################################################}
<div class='border-caption {{ classes }}' style=''>
	<span class='top-border'></span>
	{% if indianoaks[id].header %}
	<h2>{{ indianoaks[id].header|process_text() }}</h2>
	{% endif %}
	<p class='' style=''>
		{{ indianoaks[id].blurb|process_text() }}
		{% if indianoaks[id].footnote %}
		<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
		{% endif %}
	</p>
	<span class='bottom-border'></span>
	<div class='vert-border left'></div>
	<div class='vert-border'></div>
</div>
{% else %}
{{ indianoaks[id].blurb|process_text() }}
{% if indianoaks[id].footnote %}
<a id ='{{ id }}-footnote' class='footnote' href='#footnote{{ indianoaks[id].foot_numeral|int }}' 'footnote{{ indianoaks[id].foot_numeral|int }}'>{{ indianoaks[id].foot_numeral|int }}</a>
{% endif %}
{% endif %}


{% endmacro%}
	<div class="container-fluid">
		<article id='indianoaks' class='graphic-novel'>
			<div class='advert-wrapper'>
				<div class='advert center' data-ad-type='leaderboard'></div>
			</div>
					{% include '_social-row.html' %}
			<section id='intro'>
				<img src='img/indianoaks/frame00-d3.jpg' />
				<h1 class='text-center'>Unsafe<span class='graphicwhite'><br class='visible-phone' />Haven</span></h1>
				<h2 class='text-center'>{{ indianoaks.subhede.blurb}}</h2>
			</section>
			<div class='advert-wrapper visible-phone'>
				<div class='advert' data-ad-type='cube'></div>
			</div>

			<section class='gn-river'>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame01-d3.jpg' />
					{{ graphictext('frame1a', 'true', 'shift-up wide') }}
					
					<img class='' src='img/indianoaks/frame12-d3.jpg' />
					{{ graphictext('frame1b', 'true', 'shift-right') }}
				</div>

				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame02-d3.jpg' />
					{{ graphictext('frame2', 'true', 'shift-up') }}
				</div>		
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame03-d3.jpg' />
					{{ graphictext('frame3', 'true', 'shift-up-max') }}

				</div>
				<div class='panel-wrapper'>
					<img class='' src='img/indianoaks/frame04-d3.jpg' />
					{{ graphictext('frame4', 'true', 'shift-up-max') }}
				</div>

				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame05A-d3.jpg' />
					{{ graphictext('frame5', 'true', 'shift-up shift-left') }}
				</div>
								<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame05B-d3.jpg' />
					{{ graphictext('frame5b', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame06-d3.jpg' />
					{{ graphictext('frame6', 'true', 'shift-up-max shift-right') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame07-d3.jpg' />
					{{ graphictext('frame7', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='border' src='img/indianoaks/frame09-d3.jpg' />
					{{ graphictext('frame9', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<div class='row-fluid'>
						<div class='span7'>
					<img class='' src='img/indianoaks/frame08-d3.jpg' />
						</div>
						<div class='span5'>
						{{ graphictext('frame8', 'true', 'shift-left shift-down wide') }}
						</div>
					</div>
				</div>
				<div class='panel-wrapper'>
					<img class='' src='img/indianoaks/frame10-d3.jpg' />
					{{ graphictext('frame10', 'true', 'shift-up') }}
				</div>
				<div class='panel-wrapper'>
					<img class='' src='img/indianoaks/frame11-d3.jpg' />
					{{ graphictext('frame11', 'true', 'shift-up-max wide') }}
				</div>
			</section>

			<section class='footnotes text-center'>
				{% include '_about-and-credits.html'%}
				<h2 class='text-center'>Footnotes</h2>
				<ul class='unstyled'>
				{% for row in indianoaksfootnotes[1:] %}
				<li id='footnote{{ row.numeral|int }}'>
					<p class='text-center'><strong class='graphicwhite'>{{ row.numeral|int }}. </strong>{{ row.footnote|process_text() }} <a class='return' href='#{{ row.return }}-footnote'>&raquo; RETURN</a></p>
				</li>	
				{% endfor %}
			</ul>	
		</section>

	</article>

	{% include '_facebook_comments.html' %}
</div>
{% endblock content %}
